
<script setup>
    import { useRoute, useRouter, RouterView } from "vue-router"
    import cars from '../data/car.json'

    const route = useRoute();
    const router = useRouter();
    const carId  = parseInt(route.params.id);
    const showContact = () => {
        if(carId === 2) return;
        return router.push(`/cars/${carId}/contact`)
    }

    const car = cars.find(c => c.id === carId)
</script>
<template>
    <div v-if="car">
        <h1>Car View</h1>
        <p>{{ car.name }}</p>
        <p>{{ car.year }}</p>
        <p>{{ car.price }}</p>
        <button @click="showContact()">Click For Contact</button>
        <RouterView/>
    </div>
    <div v-else>
        <h1>No Car Found Yet</h1>
    </div>
</template>


<style scoped>

</style>